<div><b>SWARNA ORGANICS PROFILE</b><div><br>
<div>
Swarna Organics is a Agritech Startup of India which is Founded in the year 2017 at Bhopal (Madhya Pradesh) to make the prosperity of farmers and organic farming practical so that the whole world can get toxin free nutritious food.</div><br>
<div>We are Operating a online platform which is called swarna Organic Buyer-Seller Platform (http://swarna-kreta-vikreta.com/ ) so that organic products reach the consumer at reasonable prices from direct farmers field and farmer can get appropriate price of their crop.</div><br>
<div>We have 100% dedicated Swarna team 24*7 Available to give proper guidance to farmers on their doorstep by highly qualified technical Person (B.Sc./M.Sc./PHD Agriculture).
Establishment of Organic Promoter (dealer) network up to the village level so that the appropriate products can be available to every farmer to facilitate organic farming.</div>
</div></div>
