<b>स्वर्णा क्रेता-विक्रेता मंच - जैविक खेती को प्रोत्साहित करने का एक प्रयास </b><br>
<p>स्वर्णा ऑर्गॅनिक्स का प्रयास जैविक उत्पादों की खेती को प्रोत्साहन करने का है, हमारे मोबाइल ऍप क्रेता विक्रेता मंच के माध्यम से विक्रेता अपने उत्पाद इसमें जोड़ सकते हैं और जैविक उत्पादों में रूचि रखने वाले क्रेता अपने आस पास के विक्रेता से संपर्क कर जैविक उत्पाद प्राप्त कर सकते हैं | </p>
<p><a href="https://play.google.com/store/apps/details?id=project.sabs.android.com.swarnaorganics" target="_blank">क्रेता विक्रेता ऍप </a>को शेयर करें और जैविक खेती में अपना योगदान दें |</p>
<br>
<b>जैविक खेती का इतिहास </b>
<p>जैविक खेती (Organic Farming ) को नाम वैज्ञानिको ने दिया है क्योंकि वो वर्तमान में हो रही खेती को पारम्परिक खेती मानते है | वैसे अगर भारत की बात करे तो भारत में आजादी से पहले पारम्परिक खेती जैविक तरीके से ही की जाती थी जिसमे किसी भी प्रकार के रसायन के बिना फसले पैदा की जाती थी लेकिन आजादी के बाद भारत को फसलो के मामले में आत्मनिर्भर बनने के लिए हरित क्रान्ति की शुरुवात हुयी जिसमे रसायनों और कीटनाशको की मदद से उन फसलो का भी भरपूर मात्रा में उत्पादन किया जाने लगा जिसके बारे में कभी सोच भी नही सकता था | हरित क्रान्ति के कारण गेंहू म ज्वार , बाजरा और मक्का की खेती में काफी विकास हुआ था |
रासायनिक उर्वरको के दुष्परिणाम
रासायनिक उर्वरको की आधिक मात्रा के कारण जैविक खाद का प्रयोग कम हुआ है इसलिए मिटटी में उपलब्ध खाद की मात्रा कम हुयी है |  इससे मिटटी की बनावट और मिटटी में वायु संचरण प्रभावित हुआ है | रासायनिक उर्वरको के इस्तेमाल से मिटटी में सूक्ष्मजीवियो की संख्या कम हुयी है और मिटटी की जलभराव क्षमता और रसाव भी कम हुआ है | बहते पानी ने उपजाऊ उपरी मिटटी को बहा दिया है | रासायनिक उर्वरको से उपजी फसलो के उपयोग के कारण मानव को कई दीर्घकालिक बीमारियों से झुझना पड़ रहा है |इन्ही रासायनिक उर्वरको का दुष्परिनाम है कि नवजात बच्चे भी मधुमेह जैसी बीमारियों से पीड़ित होते है और 20 साल की आयु में ही जवानो के बाल सफेद होने लगते है | इसके अलावा कैंसर जैसी असाध्य बीमारी का भी इन सबसे सीधा संबध है | किसानो को रसायन खरीदने के लिए बाहरी एजेंसीयो पर निर्भर रहना पड़ता है जिसके लागत काफी होती है जिससे खेती में मुनाफा केवल मिथ्या रह गया है | इसी कारण किसान खुदखुशी की ओर अग्रसर हो रहे है | यही कारण ही आने वाली पीढ़ी खेती को ना अपनाकर शहर की ओर रुख कर रही है | सरकार इस समस्या के असली निदान की बजाय ऋण पैकेज घोषित करती है | इस जटिल समस्या का एकमात्र निदान टिकाऊ खेती है |</p><br>
<b>जैविक खेती के फायदे</b>
<p>
•	Organic Farming जैविक खेती का सबसे बड़ा फायदा यह है कि इससे आप अपने खेत की मृदा और उर्वरा शक्ति को लम्बे समय तक संरक्षित कर सकते है जिससे बिना रसायनों के उपयोग से भी लाभदायक खेती की जा सकती है |
•	जैविक खेती के उपयोग के बाद आप अपने खेतो में वो फसले भी बो सकते है जो आज तक नही हुयी हो क्योंकि मृदा की उर्वरा शक्ति बढने के बाद किसी भी तरह की फसल बोई जा सकती है |
•	Organic Farming जैविक खेती का सीधा प्रभाव पशुओ पर भी पड़ेगा क्योंकि उनको मिलने वाले भोजन में रसायन की मात्रा नही होगी तो उनके द्वारा दिए गये दूध की गुणवता भी बेहतर होगी और पशुओ का स्वस्थ भी बेहतर होगा |
•	पशुओ के साथ साथ मनुष्यों पर भी इसका दीर्घकालिक परिणाम होगा जिससे कई असाध्य बीमारियों से बचा जा सकता है और अपने सेहत को तन्दुरुस्त बनाया जा सकेगा |
•	Organic Farming जैविक खेती से शुरुवात में थोड़ी परेशानी होगी लेकिन दीर्घकालिक आपकी फसलो की गुणवता बेहतर होगी जिससे आपको मुनाफा भी काफी अच्छा मिलेगा |
</p>
<b>जैविक खेती से प्रभावित होने वाले कुछ उदाहरण</b>
<p>Organic Farming जैविक खेती का उपयोग करने के लिए कभी सरकार आगे नही आ पायी है हालंकि इस बार हमारे प्रधानमंत्री मोदी ने जैविक खेती पर जोर दिया है लेकिन इसका प्रभाव पड़ना अभी बाकी है | फिर भी राजस्थान के शेखावटी और सीकर इलाको में रहने वाले किसानो ने पुरे देश को Organic Farming जैविक खेती करने के लिए उदाहरण प्रस्तुत किया है | यहा के कुछ किसानो ने Organic Farming जैविक खेती का उपयोग कर कई फलो जैसे अनार आदि का उत्पादन कर एक मिसाल लाये है |
2016 में सिक्किम और केरल भारत के पुरी तरह से जैविक खेती करने वाले राज्य बन गये है जिसकी वजह से पुरे देश में उनका नाम सम्मान के साथ लिया जाता है | इसी तरह का जूनून अगर देश के दुसरे राज्यों में भी हो जाए तो वो दिन दूर नही जब पूरा भारत रसायनों को छोडकर जैविक खेती की तरफ चला जाएगा | हालांकि जैविक खेती को इतना जल्दी अपनाना सबके लिए कठिन होगा लेकिन शुरुवात तो कही से करनी होगी | अगर आपको Organic Farming जैविक खेती के बारे में जानकारी अच्छी लगी तो अपने गाँव में भी इसकी जागरूकता फैलाये और लोगो को जैविक खेती के फायदे बताये | </p>
