<div class="w1 m0">
    <h1>Privacy Policy</h1>
    The Privacy Policy of swarna kreta vikreta platform</a> detailed herein below governs the collection, possession, storage, handling and dealing of personal identifiable information/data and sensitive personal data (hereinafter collectively referred to as “information”) of the users of the site.<p>All the users must read and understand this Privacy Policy as it has been formulated to safeguard the user’s privacy. This Privacy Policy also outlines the ways the users can ensure protection of their personal identifiable information. </p><p>You must accept the contents of this Policy in order to use or continue using our site. This Privacy Policy detailed herein is also applicable to user of the site or mobile application through mobile or any other similar device.</p><br>
    <b><font color="#004080">COLLECTION OF INFORMATION</font></b><br>
    We confirm that we collect those information from you which is required to extend the services available on the site.
    <ul>
        <li>At the time of signing up and registration with the site, we collect user information including name, email address, phone/mobile number, postal address and your interested product details.<br>In this regard, we may also record conversations and archive correspondence between users and the representatives of the site (including the additional information, if any) in relation to the services for quality control or training purposes.</li>
        <li> We also gathers and stores the user’s usage statistics such as IP addresses, pages viewed, user behaviour pattern, number of sessions and unique visitors, browsing activities, browser software operating system etc. for analysis, which helps us to provide improved experience and value added services to you.</li>
        <li>Once a user registers, the user is no longer anonymous to us and thus all the information provided by you shall be stored, possessed in order to provide you with the requested services and as may be required for compliance with statutory requirements.</li>
        <li>User’s registration with us and providing information is intended for facilitating the users in its business.</li>
        <li>We retains user provided Information for as long as the Information is required for the purpose of providing services to you or where the same is required for any purpose for which the Information can be lawfully processed or retained as required under any statutory enactments or applicable laws.</li>
        <li>We as a swarna kreta vikreta, only providing platform to connect seller and buyers. We are not responsible for actual trade/dispute/purshase/sell between them beyond the scope of this app/site.Once they are connected it is solely their responsibility of purshase/sell/transaction/delivery/collection etc.</li>
    </ul>
    <p>User may update, correct, or confirm provided information by logging on to their accounts on the site/app.</p><br>
    <b><font color="#004080">PURPOSE AND USAGE OF INFORMATION</font></b><br>
    The following are the purposes of collecting the Information:
    <ol type="i">
        <li>For the verification of your identity, eligibility, location and to provide different crops.</li>
        <li>For facilitating the services offered/available on the site.</li>
        <li>For advertising, marketing, displaying &amp; publication.</li>
        <li>For enabling communication with the users of the site, so that the users may fetch maximum business opportunities.</li>
        <li>For generating business enquires and trade leads.</li>
        <li>For sending communications, notifications, newsletters and customized mailers etc.</li>
    </ol>
    <p>Please get in touch with us at the above email address in case you would like to object to any purpose of data processing. However, please note that if you object or withdraw consent to process data as above, we may discontinue providing you with services through our site.</p><p><br>
    <b><font color="#004080">DISCLOSURE OF INFORMATION</font></b><br>
    Information we may collect from you may be disclosed and transferred to external service providers who we rely on to provide services to us or to you directly. For instance, information may be shared with
</p><ul>
    <li>Affiliated companies for better efficiency, more relevancy, innovative business matchmaking and better personalised services.</li>
    <li>Government or regulatory or law enforcement agencies, as mandated under statutory enactment, for verification of identity or for prevention, detection, investigation including cyber incidents, prosecution and punishment of offences.</li>
    <li>Service provider including but not limited to payment, customer and cloud computing service provider (“Third Party”) engaged for facilitating service requirements of user.</li>
    <li>Business partners for sending their business offers to the users, which are owned and offered by them solely without  involvement of the site.</li>
    <p>Links to the websites of any of the above may be available on the site as a convenience to user(s) and the site does not have any control over such websites. The usage of such websites by the user will be governed by their respective Privacy Policies and the present Privacy Policy will not apply to usage of such websites. The users of such websites are cautioned to read the privacy policies of such websites.</p><p>
</p><p>Please get in touch with us at the above email address in case you would like to object to any purpose of data processing. However, please note that if you object or withdraw consent to process data as above, we may discontinue providing you with services through our site.</p><br>
    In relation to such disclosures, receiving parties have consented and confirmed that:
    <ol type="a">
        <li>There shall be limited disclosure of any Information to its Directors, officers, employees, agents or representatives who have a need to know such Information in connection with the business transaction and are only permitted to use your Information in connection with the said purpose,</li>
        <li>They shall keep the Information confidential and secure by using a reasonable degree of care, and</li>
        <li>They shall not disclose any Information received by them further and must abide by the Privacy Policy of the site.</li>
    </ol>
</ul>
    <p>Please keep in mind that whenever a user post personal &amp; business information online, the same becomes accessible to the public and the users may receive messages/emails from visitors of the site.</p>
    <br>

    <b><font color="#004080">REASONABLE PROTECTION OF INFORMATION</font></b>
    <p>We employ commercially reasonable and industry-standard security measures to prevent unauthorized access, maintain data accuracy and ensure proper use of information we receive.</p>
    <p>These security measures are both electronic as well as physical but at the same time no data transmission over the Internet can be guaranteed to be 100% secure.</p>
    <p>We strive to protect the User Information, although we cannot ensure the security of Information furnished/transmitted by the users to us.</p>
    <p>We&nbsp;recommend&nbsp;you not to disclose password of your email address, online bank transaction and other important credentials to our employees / agents / affiliates/ personnel, as we do not ask for the same.</p>
    <p>We recommend that registered users not to share their site’s account password and also to sign out of their account when they have completed their work. This is to ensure that others cannot access Information of the users and correspondence, if the user shares the computer with someone else or is using a computer in a public place</p>
    <p>We&nbsp;recommend&nbsp;you not to disclose password of your email address, online bank transaction and other important credentials&nbsp;to our employees / agents / affiliates/ personnel, as we do not ask for the same</p><br>
    <b><font color="#004080">COOKIES</font></b><br>
    <p>We, and third parties with whom we partner, may use cookies, pixel tags, web beacons, mobile device IDs, “flash cookies” and similar files or technologies to collect and store information in respect to your use of the site and track your visits to third party websites.</p>
    <p>We also use cookies to recognize your browser software and to provide features such as recommendations and personalization.</p>
    <p>Third parties whose products or services are accessible or advertised through the site, including social media sites, may also use cookies or similar tools, and we advise you to check their privacy policies for information about their cookies and the practices followed by them. We do not control the practices of third parties and their privacy policies govern their interactions with you. </p><br>


    <b><font color="#004080">QUESTIONS</font></b><br>
    Please contact us regarding any questions, clarifications, or grievances. Please email us at <a href="mailto:info@swarna-kreta-vikreta.com">info@swarna-kreta-vikreta.com</a><br><br>

    <b><font color="#004080">CHANGES IN PRIVACY POLICY</font></b><br>
    <p>The policy may change from time to time, so users are requested to check it periodically.</p><br>
</div>